table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.text {
  text-align: center;
  background: blue;
  color: white;
}
